echo ""
echo -e "\033[36mWelcome to the CAPI workspace!\033[0m\n\n"

echo -e "To run the workspace installation, try:\n"

echo -e "\033[32m./install.sh\n\033[0m"

echo -e "Here are some repositories you may find useful:\n"

echo -e "Public\n"

echo -e "https://github.com/cloudfoundry/api-docs\n\
https://github.com/cloudfoundry/capi-release \n\
https://github.com/cloudfoundry/diego-release \n\
https://github.com/cloudfoundry/docs-services \n\
https://github.com/cloudfoundry/sprout-capi \n\
https://github.com/cloudfoundry/capi-dockerfiles \n\
https://github.com/cloudfoundry/capi-ci \n\
https://github.com/cloudfoundry/cf-deployment \n\
https://github.com/cloudfoundry/bosh-deployment \n\
https://github.com/cloudfoundry/sync-integration-tests \n"

echo -e "Private\n"
echo -e "git@github.com:cloudfoundry/capi-env-pool.git \n\
git@github.com:cloudfoundry/capi-ci-private.git \n\
git@github.com:cloudfoundry/capi-datadog.git \n"

echo -e "These repositories contain wikis:\n"
echo -e "https://github.com/cloudfoundry/cloud_controller_ng\n\
https://github.com/cloudfoundry/capi-team-checklists \n\
git@github.com:pivotal-cf/capi-team-playbook.git"
