<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MakeLarger</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERoAgAIQfIADWk1ha2VMYXJnZXLSExQVFlokY2xhc3NuYW1lWCRjbGFzc2VzXxAR
	U3BlY3RhY2xlU2hvcnRjdXSiFxhfEBFTcGVjdGFjbGVTaG9ydGN1dFhOU09iamVjdF8Q
	D05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLVVpiaWxucHJ9go2Wqq3B
	ytzf5AAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADm
	</data>
	<key>MakeSmaller</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERoAgAIQe4ADW01ha2VTbWFsbGVy0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18Q
	EVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnByfoOOl6uu
	wsvd4OUAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA5w==
	</data>
	<key>MoveToBottomHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfYADXxAQTW92ZVRvQm90dG9tSGFsZtITFBUWWiRjbGFzc25hbWVYJGNs
	YXNzZXNfEBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5T
	T2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5w
	coWKlZ6ytcnS5OfsAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAO4=
	</data>
	<key>MoveToCenter</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEQkAgAIQCIADXE1vdmVUb0NlbnRlctITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNf
	EBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5TT2JqZWN0
	XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5wcn+Ej5is
	r8PM3uHmAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOg=
	</data>
	<key>MoveToFullscreen</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQLoADXxAQTW92ZVRvRnVsbHNjcmVlbtITFBUWWiRjbGFzc25hbWVYJGNs
	YXNzZXNfEBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5T
	T2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5w
	coWKlZ6ytcnS5OfsAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAO4=
	</data>
	<key>MoveToLeftHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQe4ADXk1vdmVUb0xlZnRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nl
	c18QEVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNPYmpl
	Y3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnBygYaR
	mq6xxc7g4+gAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA6g==
	</data>
	<key>MoveToLowerLeft</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERMAgAIQe4ADXxAPTW92ZVRvTG93ZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xh
	c3Nlc18QEVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNP
	YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnBy
	hImUnbG0yNHj5usAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA7Q==
	</data>
	<key>MoveToLowerRight</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERMAgAIQfIADXxAQTW92ZVRvTG93ZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNs
	YXNzZXNfEBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5T
	T2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5w
	coWKlZ6ytcnS5OfsAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAO4=
	</data>
	<key>MoveToNextDisplay</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxARTW92ZVRvTmV4dERpc3BsYXnSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxARU3BlY3RhY2xlU2hvcnRjdXSiFhdfEBFTcGVjdGFjbGVTaG9ydGN1dFhOU09i
	amVjdF8QD05TS2V5ZWRBcmNoaXZlctEaG1Ryb290gAEIERojLTI3PEJLVVpiaWttb4OI
	k5yws8fQ4uXqAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAOw=
	</data>
	<key>MoveToNextThird</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERgAgAIQfIADXxAPTW92ZVRvTmV4dFRoaXJk0hMUFRZaJGNsYXNzbmFtZVgkY2xh
	c3Nlc18QEVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNP
	YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnBy
	hImUnbG0yNHj5usAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA7Q==
	</data>
	<key>MoveToPreviousDisplay</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBARVSRudWxs1AkKCwwNDg0PWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEACAAoADXxAVTW92ZVRvUHJldmlvdXNEaXNwbGF50hITFBVaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc18QEVNwZWN0YWNsZVNob3J0Y3V0ohYXXxARU3BlY3RhY2xlU2hvcnRjdXRY
	TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1VaYmlr
	bW+HjJegtLfL1Obp7gAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADw
	</data>
	<key>MoveToPreviousThird</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERgAgAIQe4ADXxATTW92ZVRvUHJldmlvdXNUaGlyZNITFBUWWiRjbGFzc25hbWVY
	JGNsYXNzZXNfEBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0
	WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJp
	bG5wcoiNmKG1uMzV5+rvAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAPE=
	</data>
	<key>MoveToRightHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfIADXxAPTW92ZVRvUmlnaHRIYWxm0hMUFRZaJGNsYXNzbmFtZVgkY2xh
	c3Nlc18QEVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNP
	YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnBy
	hImUnbG0yNHj5usAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA7Q==
	</data>
	<key>MoveToTopHalf</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzERkAgAIQfoADXU1vdmVUb1RvcEhhbGbSExQVFlokY2xhc3NuYW1lWCRjbGFzc2Vz
	XxARU3BlY3RhY2xlU2hvcnRjdXSiFxhfEBFTcGVjdGFjbGVTaG9ydGN1dFhOU09iamVj
	dF8QD05TS2V5ZWRBcmNoaXZlctEbHFRyb290gAEIERojLTI3PEJLVVpiaWxucHKAhZCZ
	rbDEzd/i5wAAAAAAAAEBAAAAAAAAAB0AAAAAAAAAAAAAAAAAAADp
	</data>
	<key>MoveToUpperLeft</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEREAgAIQe4ADXxAPTW92ZVRvVXBwZXJMZWZ00hMUFRZaJGNsYXNzbmFtZVgkY2xh
	c3Nlc18QEVNwZWN0YWNsZVNob3J0Y3V0ohcYXxARU3BlY3RhY2xlU2hvcnRjdXRYTlNP
	YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRGxxUcm9vdIABCBEaIy0yNzxCS1VaYmlsbnBy
	hImUnbG0yNHj5usAAAAAAAABAQAAAAAAAAAdAAAAAAAAAAAAAAAAAAAA7Q==
	</data>
	<key>MoveToUpperRight</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEREAgAIQfIADXxAQTW92ZVRvVXBwZXJSaWdodNITFBUWWiRjbGFzc25hbWVYJGNs
	YXNzZXNfEBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5T
	T2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5w
	coWKlZ6ytcnS5OfsAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAO4=
	</data>
	<key>RedoLastMove</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEQsAgAIQBoADXFJlZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNf
	EBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5TT2JqZWN0
	XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5wcn+Ej5is
	r8PM3uHmAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOg=
	</data>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2015-10-21T22:03:10Z</date>
	<key>UndoLastMove</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGGRpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QWW1vZGlmaWVyc1RuYW1lV2tleUNvZGVWJGNs
	YXNzEQkAgAIQBoADXFVuZG9MYXN0TW92ZdITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNf
	EBFTcGVjdGFjbGVTaG9ydGN1dKIXGF8QEVNwZWN0YWNsZVNob3J0Y3V0WE5TT2JqZWN0
	XxAPTlNLZXllZEFyY2hpdmVy0RscVHJvb3SAAQgRGiMtMjc8QktVWmJpbG5wcn+Ej5is
	r8PM3uHmAAAAAAAAAQEAAAAAAAAAHQAAAAAAAAAAAAAAAAAAAOg=
	</data>
</dict>
</plist>
